$def with (d)
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>pcm</title>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:400px"></div>
    <!-- ECharts单文件引入 -->
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 
                
                option = {
		    title : {
			text: 'Performance',
			subtext: 'leon'
		    },
		    tooltip : {
			trigger: 'axis'
		    },
		    legend: {
			data:['BytesReadFromMC','BytesWrittenToMC']
		    },
		    toolbox: {
			show : true,
			feature : {
			    mark : {show: true},
			    dataZoom : {show: true},
			    dataView : {show: true, readOnly: false},
			    magicType : {show: true, type: ['line', 'bar']},
			    restore : {show: true},
			    saveAsImage : {show: true}
			}
		    },
		    dataZoom : {
			show : true,
			realtime : true,
			//orient: 'vertical',   // 'horizontal'
			//x: 0,
			//y: 36,
			//width: 400,
			//height: 20,
			//backgroundColor: 'rgba(221,160,221,0.5)',
			//dataBackgroundColor: 'rgba(138,43,226,0.5)',
			//fillerColor: 'rgba(38,143,26,0.6)',
			//handleColor: 'rgba(128,43,16,0.8)',
			//xAxisIndex:[],
			//yAxisIndex:[],
			//start : 40,
			//end : 60
		    },
		    calculable : true,
		    xAxis : [
			{
			    type : 'category',
			    boundaryGap : false,
			    //data : ['周一','周二','周三','周四','周五','周六','周日']
			    data: $:d['tms']
			}
		    ],
		    yAxis : [
			{
			    type : 'value',
			    axisLabel : {
				formatter: '{value} MB/s'
			    }
			}
		    ],
		    series : [
			{
			    name:'BytesReadFromMC',
			    type:'line',
			    //data:[11, 11, 15, 13, 12, 13, 10],
			    data:$d['bfmcs']/*,
			    markPoint : {
				data : [
				    {type : 'max', name: '最大值'},
				    {type : 'min', name: '最小值'}
				]
			    }*/
			},
			{
			    name:'BytesWrittenToMC',
			    type:'line',
			    //data:[1, -2, 2, 5, 3, 2, 0],
			    data:$d['btmcs']
			}
		    ]
		};
        
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );
    </script>
</body>
